.footer {
  background-color: #f8f8f8;
  width: 100%;
}
.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-content {
  padding: 0 70px;
}

.footer-links-flex {
  display: flex;
  justify-content: center;
}
.contact-icon {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.link-style {
  text-decoration: none;
  color: initial;
}
.footer-links {
  font-size: 15px;
  margin: 15px 0;

  font-weight: 400;
}
.footer-link-title {
  font-size: 20px;
  margin: 20px 0 30px 0;
}

@media only screen and (max-width: 600px) {
  .f-title,.f-desc {
    margin: 30px 0;
  }

  .footer-content {
    padding: 20px 40px;
  }
  .footer-links-flex {
    padding: 10px;
    display: flex;
  }
}
